@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700');

body {
  height: 100%;
  overflow-x: hidden;
}

.grid-container {
  display: grid;

  grid-template-columns: 20% 1fr;
  grid-template-rows: 72px 1fr;

  grid-template-areas:
    'sidebar head head head'
    'sidebar main main main'
    'sidebar main main main'
    'sidebar main main main';

  /* grid-container height = 100% of viewport height */
  height: 100vh;
}

.grid-sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: head;
  box-shadow: 0 1px 0 0 #eaedf3;
}

.header p {
  margin: 30px 0 0 30px;
}

.content {
  grid-area: main;
  background-color: purple;
}

@media screen and (max-width: 375px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 72px 1fr;
    grid-template-areas:
      'head'
      'main';
  }
}
